#-------------------------------------------------------------------------------
#
# Compilation time options for the GAccel code
#
#-------------------------------------------------------------------------------

DEBUG         = N
RELAT         = Y
INTERPOLATION = N
TVD           = N
BNDRY         = N
PERIODIC      = Y
PREC          = 8
DIMS          = 3
TEST          = N
LOSS          = N

#-------------------------------------------------------------------------------
